ocr/build/
ocr/install/
x86/bin/
x86/lib/
x86/include/
x86_64/triple-double.h
x86_64/pow.o
x86_64/expm1.c
x86_64/log2_accurate.h
x86_64/trigpi.o
x86_64/ChangeLog
x86_64/atan_accurate.h
x86_64/log_fast.h
x86_64/double-extended.h
x86_64/VERSION
x86_64/crlibm_config.h.in
x86_64/triple-double.o
x86_64/tg-defs.h
x86_64/log_accurate.c
x86_64/crlibm_private.h
x86_64/trigo_accurate.h
x86_64/asincos.c
x86_64/log-de.h
x86_64/scs_lib
x86_64/scs_lib/addition_scs.c
x86_64/scs_lib/Doxyfile.dev
x86_64/scs_lib/ChangeLog
x86_64/scs_lib/wrapper_scs.h
x86_64/scs_lib/main.dox
x86_64/scs_lib/zero_scs.o
x86_64/scs_lib/VERSION
x86_64/scs_lib/scs.h
x86_64/scs_lib/libscs.a
x86_64/scs_lib/print_scs.o
x86_64/scs_lib/scs2double.c
x86_64/scs_lib/scs_private.h
x86_64/scs_lib/TODO
x86_64/scs_lib/Makefile.am
x86_64/scs_lib/division_scs.o
x86_64/scs_lib/scs2mpfr.c
x86_64/scs_lib/addition_scs.o
x86_64/scs_lib/double2scs.o
x86_64/scs_lib/NEWS
x86_64/scs_lib/README
x86_64/scs_lib/zero_scs.c
x86_64/scs_lib/Makefile.in
x86_64/scs_lib/scs_private.o
x86_64/scs_lib/print_scs.c
x86_64/scs_lib/INSTALL
x86_64/scs_lib/Doxyfile.user
x86_64/scs_lib/COPYING
x86_64/scs_lib/scs2mpfr.o
x86_64/scs_lib/README.DEV
x86_64/scs_lib/maple
x86_64/scs_lib/maple/SCSS_procedures.mws
x86_64/scs_lib/maple/calculpoly.mws
x86_64/scs_lib/poly_fct.c
x86_64/scs_lib/multiplication_scs.o
x86_64/scs_lib/scs2mpf.c
x86_64/scs_lib/Makefile
x86_64/scs_lib/tests
x86_64/scs_lib/tests/tbx_timing.h
x86_64/scs_lib/tests/test_timing.c
x86_64/scs_lib/tests/Makefile.am
x86_64/scs_lib/tests/test_log.c
x86_64/scs_lib/tests/log.h
x86_64/scs_lib/tests/test_accuracy.c
x86_64/scs_lib/rand_scs.c
x86_64/scs_lib/scs2double.o
x86_64/scs_lib/division_scs.c
x86_64/scs_lib/scs_private.c
x86_64/scs_lib/double2scs.c
x86_64/scs_lib/multiplication_scs.c
x86_64/scs_lib/AUTHORS
x86_64/log2-td.c
x86_64/log-de2.h
x86_64/configure
x86_64/COPYING.LIB
x86_64/install-sh
x86_64/log2-td.h
x86_64/prepare
x86_64/log-de.c
x86_64/CMakeLists.txt
x86_64/TODO
x86_64/Makefile.am
x86_64/acos-td.c
x86_64/log_accurate.h
x86_64/exp-td-standalone.o
x86_64/config.guess
x86_64/atan_accurate.o
x86_64/rem_pio2_accurate.c
x86_64/trigpi.h
x86_64/asincos.o
x86_64/log-td.c
x86_64/atan_fast.h
x86_64/atan_fast.o
x86_64/atan-itanium.c
x86_64/log10-td.h
x86_64/asin-td.h
x86_64/crlibm_private.c
x86_64/atan-pentium.h
x86_64/expm1-standalone.o
x86_64/crlibm.spec
x86_64/log_fast.c
x86_64/rem_pio2_accurate.h
x86_64/log.h
x86_64/pow.h
x86_64/depcomp
x86_64/config.log
x86_64/NEWS
x86_64/log1p.c
x86_64/README
x86_64/Makefile.in
x86_64/log10-td.c
x86_64/exp-td.o
x86_64/trigo_accurate.o
x86_64/trigo_fast.h
x86_64/csh_fast.c
x86_64/INSTALL
x86_64/docs
x86_64/docs/latex
x86_64/docs/latex/exp.tex
x86_64/docs/latex/csh.tex
x86_64/docs/latex/acos.tex
x86_64/docs/latex/log10.tex
x86_64/docs/latex/asin.tex
x86_64/docs/latex/fig_exp
x86_64/docs/latex/fig_exp/rnd_to_nearest.pstex_t
x86_64/docs/latex/fig_exp/reconstruction.pstex_t
x86_64/docs/latex/fig_exp/rnd_to_nearest.pstex
x86_64/docs/latex/fig_exp/rnd_to_nearest.fig
x86_64/docs/latex/fig_exp/reconstruction.fig
x86_64/docs/latex/fig_exp/reconstruction.pstex
x86_64/docs/latex/fig_scs
x86_64/docs/latex/fig_scs/multiplication.pdf
x86_64/docs/latex/fig_scs/exponent_representation.pdf
x86_64/docs/latex/fig_scs/multiplication.eps
x86_64/docs/latex/fig_scs/exponent_representation.eps
x86_64/docs/latex/elem-fun.bib
x86_64/docs/latex/log2.tex
x86_64/docs/latex/pow.tex
x86_64/docs/latex/0_getting-started.tex
x86_64/docs/latex/trigpi.tex
x86_64/docs/latex/trigo.tex
x86_64/docs/latex/tripledoubleprocedures.tex
x86_64/docs/latex/log1p.tex
x86_64/docs/latex/atan.tex
x86_64/docs/latex/crlibm.tex
x86_64/docs/latex/sqrt.tex
x86_64/docs/latex/log.tex
x86_64/docs/latex/expm1.tex
x86_64/docs/latex/0_intro.tex
x86_64/docs/latex/1_common.tex
x86_64/expm1.o
x86_64/atan-pentium.c
x86_64/trigo_fast.o
x86_64/aclocal.m4
x86_64/acos-td.h
x86_64/log-de2.c
x86_64/missing
x86_64/crlibm.h
x86_64/COPYING
x86_64/log2_accurate.c
x86_64/README.DEV
x86_64/csh_fast.h
x86_64/maple
x86_64/maple/exp-td.mpl
x86_64/maple/csh.mpl
x86_64/maple/trigpi.mpl
x86_64/maple/atan-pentium.mpl
x86_64/maple/pow.mpl
x86_64/maple/check-hints-log-td.sh
x86_64/maple/sqrt.mpl
x86_64/maple/atan.mpl
x86_64/maple/trigo.mpl
x86_64/maple/gal.mpl
x86_64/maple/log2-td.mpl
x86_64/maple/asin-td.mpl
x86_64/maple/log10-td.mpl
x86_64/maple/log-de2.mpl
x86_64/maple/log-td.mpl
x86_64/maple/double-extended.mpl
x86_64/maple/acos-td.mpl
x86_64/maple/common-procedures.mpl
x86_64/maple/atan-itanium.mpl
x86_64/maple/log-itanium.mpl
x86_64/maple/log-de.mpl
x86_64/maple/log.mpl
x86_64/maple/expm1.mpl
x86_64/maple/log-de.patterson.mpl
x86_64/maple/triple-double.mpl
x86_64/log1p.o
x86_64/log.c
x86_64/asin-td.c
x86_64/trigo_accurate.c
x86_64/config.sub
x86_64/crlibm_private.o
x86_64/stamp-h1
x86_64/exp-td.h
x86_64/exp-td.c
x86_64/trigo_fast.c
x86_64/libcrlibm.a
x86_64/test-driver
x86_64/exp-itanium.c
x86_64/crlibm_config.h
x86_64/Makefile
x86_64/tests
x86_64/interval.h
x86_64/config.status
x86_64/atan_accurate.c
x86_64/compile
x86_64/expm1.h
x86_64/rem_pio2_accurate.o
x86_64/asincos.h
x86_64/pow.c
x86_64/trigpi.c
x86_64/configure.ac
x86_64/atan_fast.c
x86_64/log.o
x86_64/triple-double.c
x86_64/exp-td-standalone.c
x86_64/exp_build_coeffs
x86_64/exp_build_coeffs/exp_fast_table.c
x86_64/expm1-standalone.c
x86_64/gappa
x86_64/gappa/trigos
x86_64/gappa/trigos/TanCase2.gappa
x86_64/gappa/trigos/SinCosCase3.gappa
x86_64/gappa/trigos/SinZero.gappa
x86_64/gappa/log-de
x86_64/gappa/log-de/log-de-index1N-E0N.gappa
x86_64/gappa/log-de/log-de-acc-index0-E0.gappa
x86_64/gappa/log-de/README
x86_64/gappa/log-de/log-de-acc-index1N-E0.gappa
x86_64/gappa/log-de/log-de-acc-index0-E1N.gappa
x86_64/gappa/log-de/log-de-index0-E0.gappa
x86_64/gappa/log-de/log-de-index0-E1N.gappa
x86_64/gappa/log-de/log-de-acc-index1N-E1N.gappa
x86_64/gappa/trigpi
x86_64/gappa/trigpi/cospi-accurate.gappa
x86_64/gappa/trigpi/sinpi-quick.gappa
x86_64/gappa/trigpi/sinpi-accurate.gappa
x86_64/gappa/trigpi/cospi-quick.gappa
x86_64/gappa/log-td
x86_64/gappa/log-td/log-td-accurate.gappa
x86_64/gappa/log-td/log-td-accurate-E0.gappa
x86_64/gappa/log-td/log-td.gappa
x86_64/gappa/log-td/log-td-E0.gappa
x86_64/gappa/log-td/log-td-E0-logir0.gappa
x86_64/gappa/log-td/log-td-accurate-E0-logir0.gappa
x86_64/gappa/sqrt-proof.sh
x86_64/gappa/asin
x86_64/gappa/asin/asinQuickR0.gappa
x86_64/gappa/asin/asinQuickR3.gappa
x86_64/gappa/asin/asinAccuR8.gappa
x86_64/gappa/asin/asinQuickR6.gappa
x86_64/gappa/asin/asinAccuR1.gappa
x86_64/gappa/asin/asinQuickR8.gappa
x86_64/gappa/asin/asinAccuR2.gappa
x86_64/gappa/asin/asinQuickR5.gappa
x86_64/gappa/asin/asinAccuR7.gappa
x86_64/gappa/asin/asinQuickR4.gappa
x86_64/gappa/asin/asinQuickR2.gappa
x86_64/gappa/asin/asinQuickR1.gappa
x86_64/gappa/asin/asinAccuR0.gappa
x86_64/gappa/asin/asinAccuR4.gappa
x86_64/gappa/asin/asinAccuR3.gappa
x86_64/gappa/asin/asinAccuR5.gappa
x86_64/gappa/asin/asinAccuR9.gappa
x86_64/gappa/asin/asinAccuR6.gappa
x86_64/gappa/asin/asinQuickR7.gappa
x86_64/gappa/asin/asinQuickR9.gappa
x86_64/gappa/sqrt12.gappa
x86_64/gappa/sqrt.sed
x86_64/gappa/exp-td
x86_64/gappa/exp-td/exp-td-accurate1.gappa
x86_64/gappa/exp-td/exp-td-proof.sh
x86_64/gappa/exp-td/exp-td-accurate4.gappa
x86_64/gappa/exp-td/exp-td-accurate3.gappa
x86_64/gappa/exp-td/exp-td-accurate2.gappa
x86_64/gappa/sqrt13.gappa
x86_64/log-td.h
x86_64/AUTHORS
x86_64/csh_fast.o
tg-xe/lib/
tg-xe/include/
tg-xe/libcrlibm.a
tg-xe/pow.o
tg-xe/trigpi.o
tg-xe/zero_scs.o
tg-xe/triple-double.o
tg-xe/print_scs.o
tg-xe/division_scs.o
tg-xe/exp-td-standalone.o
tg-xe/atan_accurate.o
tg-xe/asincos.o
tg-xe/addition_scs.o
tg-xe/atan_fast.o
tg-xe/e_sqrt.o
tg-xe/expm1-standalone.o
tg-xe/double2scs.o
tg-xe/scs_private.o
tg-xe/exp-td.o
tg-xe/trigo_accurate.o
tg-xe/expm1.o
tg-xe/trigo_fast.o
tg-xe/log1p.o
tg-xe/multiplication_scs.o
tg-xe/crlibm_private.o
tg-xe/scs2double.o
tg-xe/rem_pio2_accurate.o
tg-xe/log.o
tg-xe/ef_sqrt.o
tg-xe/csh_fast.o
