ocr/build/
ocr/install/
tg/include/
x86/bin/
x86/include/
x86_64/autom4te.cache/
x86_64/tests/check_acos
x86_64/tests/check_acospi
x86_64/tests/check_asin
x86_64/tests/check_asinpi
x86_64/tests/check_atan
x86_64/tests/check_atanpi
x86_64/tests/check_cos
x86_64/tests/check_cosh
x86_64/tests/check_cospi
x86_64/tests/check_exp
x86_64/tests/check_expm1
x86_64/tests/check_log
x86_64/tests/check_log10
x86_64/tests/check_log1p
x86_64/tests/check_log2
x86_64/tests/check_pow
x86_64/tests/check_sin
x86_64/tests/check_sinh
x86_64/tests/check_sinpi
x86_64/tests/check_tan
x86_64/tests/check_tanpi
x86_64/tests/crlibm_blindtest
x86_64/tests/crlibm_generate_test_vectors
x86_64/tests/crlibm_soaktest
x86_64/tests/crlibm_testperf
x86_64/tests/crlibm_testval
x86_64/AUTHORS
x86_64/COPYING
x86_64/COPYING.LIB
x86_64/ChangeLog
x86_64/INSTALL
x86_64/Makefile
x86_64/Makefile.am
x86_64/Makefile.in
x86_64/NEWS
x86_64/README
x86_64/TODO
x86_64/VERSION
x86_64/aclocal.m4
x86_64/asincos.c
x86_64/asincos.h
x86_64/atan-itanium.c
x86_64/atan-pentium.c
x86_64/atan_accurate.c
x86_64/atan_accurate.h
x86_64/atan_fast.c
x86_64/atan_fast.h
x86_64/config.guess
x86_64/config.log
x86_64/config.status
x86_64/config.sub
x86_64/configure
x86_64/configure.ac
x86_64/crlibm.h
x86_64/crlibm_config.h
x86_64/crlibm_config.h.in
x86_64/crlibm_private.c
x86_64/crlibm_private.h
x86_64/csh_fast.c
x86_64/csh_fast.h
x86_64/depcomp
x86_64/docs/latex/0_getting-started.tex
x86_64/docs/latex/0_intro.tex
x86_64/docs/latex/1_common.tex
x86_64/docs/latex/acos.tex
x86_64/docs/latex/asin.tex
x86_64/docs/latex/atan.tex
x86_64/docs/latex/crlibm.tex
x86_64/docs/latex/csh.tex
x86_64/docs/latex/elem-fun.bib
x86_64/docs/latex/exp.tex
x86_64/docs/latex/expm1.tex
x86_64/docs/latex/fig_exp/CVS/Entries
x86_64/docs/latex/fig_exp/CVS/Repository
x86_64/docs/latex/fig_exp/CVS/Root
x86_64/docs/latex/fig_exp/reconstruction.fig
x86_64/docs/latex/fig_exp/reconstruction.pstex
x86_64/docs/latex/fig_exp/reconstruction.pstex_t
x86_64/docs/latex/fig_exp/rnd_to_nearest.fig
x86_64/docs/latex/fig_exp/rnd_to_nearest.pstex
x86_64/docs/latex/fig_exp/rnd_to_nearest.pstex_t
x86_64/docs/latex/fig_scs/CVS/Entries
x86_64/docs/latex/fig_scs/CVS/Repository
x86_64/docs/latex/fig_scs/CVS/Root
x86_64/docs/latex/fig_scs/exponent_representation.eps
x86_64/docs/latex/fig_scs/exponent_representation.pdf
x86_64/docs/latex/fig_scs/multiplication.eps
x86_64/docs/latex/fig_scs/multiplication.pdf
x86_64/docs/latex/log.tex
x86_64/docs/latex/log10.tex
x86_64/docs/latex/log1p.tex
x86_64/docs/latex/log2.tex
x86_64/docs/latex/pow.tex
x86_64/docs/latex/sqrt.tex
x86_64/docs/latex/trigo.tex
x86_64/docs/latex/trigpi.tex
x86_64/docs/latex/tripledoubleprocedures.tex
x86_64/double-extended.h
x86_64/exp-td-standalone.c
x86_64/exp-td.c
x86_64/exp-td.h
x86_64/expm1-standalone.c
x86_64/expm1.c
x86_64/expm1.h
x86_64/gappa/asin/asinAccuR0.gappa
x86_64/gappa/asin/asinAccuR1.gappa
x86_64/gappa/asin/asinAccuR2.gappa
x86_64/gappa/asin/asinAccuR3.gappa
x86_64/gappa/asin/asinAccuR4.gappa
x86_64/gappa/asin/asinAccuR5.gappa
x86_64/gappa/asin/asinAccuR6.gappa
x86_64/gappa/asin/asinAccuR7.gappa
x86_64/gappa/asin/asinAccuR8.gappa
x86_64/gappa/asin/asinAccuR9.gappa
x86_64/gappa/asin/asinQuickR0.gappa
x86_64/gappa/asin/asinQuickR1.gappa
x86_64/gappa/asin/asinQuickR2.gappa
x86_64/gappa/asin/asinQuickR3.gappa
x86_64/gappa/asin/asinQuickR4.gappa
x86_64/gappa/asin/asinQuickR5.gappa
x86_64/gappa/asin/asinQuickR6.gappa
x86_64/gappa/asin/asinQuickR7.gappa
x86_64/gappa/asin/asinQuickR8.gappa
x86_64/gappa/asin/asinQuickR9.gappa
x86_64/gappa/exp-td/exp-td-accurate1.gappa
x86_64/gappa/exp-td/exp-td-accurate2.gappa
x86_64/gappa/exp-td/exp-td-accurate3.gappa
x86_64/gappa/exp-td/exp-td-accurate4.gappa
x86_64/gappa/exp-td/exp-td-proof.sh
x86_64/gappa/log-de/README
x86_64/gappa/log-de/log-de-acc-index0-E0.gappa
x86_64/gappa/log-de/log-de-acc-index0-E1N.gappa
x86_64/gappa/log-de/log-de-acc-index1N-E0.gappa
x86_64/gappa/log-de/log-de-acc-index1N-E1N.gappa
x86_64/gappa/log-de/log-de-index0-E0.gappa
x86_64/gappa/log-de/log-de-index0-E1N.gappa
x86_64/gappa/log-de/log-de-index1N-E0N.gappa
x86_64/gappa/log-td/log-td-E0-logir0.gappa
x86_64/gappa/log-td/log-td-E0.gappa
x86_64/gappa/log-td/log-td-accurate-E0-logir0.gappa
x86_64/gappa/log-td/log-td-accurate-E0.gappa
x86_64/gappa/log-td/log-td-accurate.gappa
x86_64/gappa/log-td/log-td.gappa
x86_64/gappa/sqrt-proof.sh
x86_64/gappa/sqrt.sed
x86_64/gappa/sqrt12.gappa
x86_64/gappa/sqrt13.gappa
x86_64/gappa/trigos/SinCosCase3.gappa
x86_64/gappa/trigos/TanCase2.gappa
x86_64/gappa/trigpi/cospi-accurate.gappa
x86_64/gappa/trigpi/cospi-quick.gappa
x86_64/gappa/trigpi/sinpi-accurate.gappa
x86_64/gappa/trigpi/sinpi-quick.gappa
x86_64/install-sh
x86_64/log-de.c
x86_64/log-de.h
x86_64/log-td.c
x86_64/log-td.h
x86_64/log.c
x86_64/log.h
x86_64/log10-td.c
x86_64/log10-td.h
x86_64/log1p.c
x86_64/log2-td.c
x86_64/log2-td.h
x86_64/maple/acos-td.mpl
x86_64/maple/asin-td.mpl
x86_64/maple/atan-itanium.mpl
x86_64/maple/atan-pentium.mpl
x86_64/maple/atan.mpl
x86_64/maple/common-procedures.mpl
x86_64/maple/csh.mpl
x86_64/maple/double-extended.mpl
x86_64/maple/exp-td.mpl
x86_64/maple/expm1.mpl
x86_64/maple/gal.mpl
x86_64/maple/log-de.mpl
x86_64/maple/log-td.mpl
x86_64/maple/log10-td.mpl
x86_64/maple/log2-td.mpl
x86_64/maple/pow.mpl
x86_64/maple/sqrt.mpl
x86_64/maple/trigo.mpl
x86_64/maple/triple-double.mpl
x86_64/missing
x86_64/pow.c
x86_64/pow.h
x86_64/rem_pio2_accurate.c
x86_64/rem_pio2_accurate.h
x86_64/scs_lib/AUTHORS
x86_64/scs_lib/COPYING
x86_64/scs_lib/ChangeLog
x86_64/scs_lib/INSTALL
x86_64/scs_lib/Makefile
x86_64/scs_lib/Makefile.am
x86_64/scs_lib/Makefile.in
x86_64/scs_lib/NEWS
x86_64/scs_lib/README
x86_64/scs_lib/TODO
x86_64/scs_lib/addition_scs.c
x86_64/scs_lib/division_scs.c
x86_64/scs_lib/double2scs.c
x86_64/scs_lib/multiplication_scs.c
x86_64/scs_lib/print_scs.c
x86_64/scs_lib/scs.h
x86_64/scs_lib/scs2double.c
x86_64/scs_lib/scs2mpfr.c
x86_64/scs_lib/scs_private.c
x86_64/scs_lib/scs_private.h
x86_64/scs_lib/tests/tbx_timing.h
x86_64/scs_lib/zero_scs.c
x86_64/stamp-h1
x86_64/tests/Makefile
x86_64/tests/Makefile.am
x86_64/tests/Makefile.in
x86_64/tests/acos.testdata
x86_64/tests/acospi.testdata
x86_64/tests/asin.testdata
x86_64/tests/asinpi.testdata
x86_64/tests/atan.testdata
x86_64/tests/atanpi.testdata
x86_64/tests/blind_test.c
x86_64/tests/cos.testdata
x86_64/tests/cosh.testdata
x86_64/tests/cospi.testdata
x86_64/tests/exp.testdata
x86_64/tests/expm1.testdata
x86_64/tests/generate_test_vectors.c
x86_64/tests/log.testdata
x86_64/tests/log10.testdata
x86_64/tests/log1p.testdata
x86_64/tests/log2.testdata
x86_64/tests/pow.testdata
x86_64/tests/powmidpoint.h
x86_64/tests/sin.testdata
x86_64/tests/sinh.testdata
x86_64/tests/sinpi.testdata
x86_64/tests/soak_test-interval.c
x86_64/tests/soak_test.c
x86_64/tests/tan.testdata
x86_64/tests/tanpi.testdata
x86_64/tests/test_common.c
x86_64/tests/test_common.h
x86_64/tests/test_perf-interval.c
x86_64/tests/test_perf.c
x86_64/tests/test_val.c
x86_64/tests/testperfs.sh
x86_64/tg-defs.h
x86_64/trigo_accurate.c
x86_64/trigo_accurate.h
x86_64/trigo_fast.c
x86_64/trigo_fast.h
x86_64/trigpi.c
x86_64/trigpi.h
x86_64/triple-double.c
x86_64/triple-double.h
