ocr/build/
ocr/install/
tg/include/
x86/bin/
x86/include/
x86_64/autom4te.cache/
x86_64/tests/check_acos
x86_64/tests/check_acospi
x86_64/tests/check_asin
x86_64/tests/check_asinpi
x86_64/tests/check_atan
x86_64/tests/check_atanpi
x86_64/tests/check_cos
x86_64/tests/check_cosh
x86_64/tests/check_cospi
x86_64/tests/check_exp
x86_64/tests/check_expm1
x86_64/tests/check_log
x86_64/tests/check_log10
x86_64/tests/check_log1p
x86_64/tests/check_log2
x86_64/tests/check_pow
x86_64/tests/check_sin
x86_64/tests/check_sinh
x86_64/tests/check_sinpi
x86_64/tests/check_tan
x86_64/tests/check_tanpi
x86_64/tests/crlibm_blindtest
x86_64/tests/crlibm_generate_test_vectors
x86_64/tests/crlibm_soaktest
x86_64/tests/crlibm_testperf
x86_64/tests/crlibm_testval
